<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Session</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        input[type="text"],
        input[type="date"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #3a7efc;

            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #3499d0;

        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }
        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
        .nav{
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;

        }

        label {
            font-weight:bold
        }

        @media screen and (max-width: 600px) {
            .topnav {
                flex-direction: column;
            }

            .topnav a {
                padding: 10px;
            }

            .logo img {
                height: 30px;
                margin-right: 0;
            }

            .container {
                padding: 10px;
            }

            .table th, .table td {
                padding: 8px;
            }
        }

    </style>
</head>
<body>
<div class="topnav">
    <div class="logo"> <a class="active" href="/admin/admin_page"><img src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></a></div>

    <div class="nav">
        <a href="/admin/dashboard/analysis">Dashboard</a>
        <a href="/admin/faculty/admin-manage-faculty">Manage Faculty</a>
        <a href="/admin/coordinator/admin-manage-coordinator">Manage Coordinator</a>
        <a href="/admin/marketing/admin-manage-marketing">Manage Marketing</a>
        <a href="/admin/faculty/student">Manage Student</a>
        <a href="/admin/magazine/admin-manage-magazine">Manage Magazine</a>
        <a href="/admin/post/admin-manage-post">Manage Post</a>
        <a href="/admin/session/admin-manage-session">Manage Session</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>
</div>
<div class="container">
<h1 style="font-weight:bold">Admin - Create Session</h1>
<form action="/admin/session/admin-add-session" method="POST">
    <label for="year">Name:</label>
    <input type="text" id="year" name="year" required><br>

    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required><br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" required><br>
    <button type="submit">Create Session</button>
</form>
</div>
</body>
</html>
