<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }
        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
        .nav{
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;

        }

        .chart-container {
            position: relative;
            margin-top: 20px;
        }

        canvas {
            max-width: 100%;
            height: auto;
        }
        @media screen and (max-width: 600px) {
            .topnav {
                flex-direction: column;
            }

            .topnav a {
                padding: 10px;
            }

            .logo img {
                height: 30px;
                margin-right: 0;
            }

            .container {
                padding: 10px;
            }

            .table th, .table td {
                padding: 8px;
            }



        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
          rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

</head>
<body>


<div class="topnav">
    <div class="logo"> <a class="active" href="/admin/admin_page"><img  src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></a></div>

    <div class="nav">
        <a href="/admin/dashboard/analysis">Dashboard</a>
        <a href="/admin/faculty/admin-manage-faculty">Manage Faculty</a>
        <a href="/admin/coordinator/admin-manage-coordinator">Manage Coordinator</a>
        <a href="/admin/marketing/admin-manage-marketing">Manage Marketing</a>
        <a href="/admin/faculty/student">Manage Student</a>
        <a href="/admin/magazine/admin-manage-magazine">Manage Magazine</a>
        <a href="/admin/post/admin-manage-post">Manage Post</a>
        <a href="/admin/session/admin-manage-session">Manage Session</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>

</div>


<div class="container mt-5">
    <h1 style="font-weight: bold; text-align:center">Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="barChart" width="400" height="200"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="barChart1" width="400" height="200"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="departmentChart" width="400" height="200"></canvas>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="chart-container">
                <canvas id="pieChart" width="400" height="200"></canvas>
            </div>
        </div>


    </div>
</div>


<script>
    fetch("/admin/dashboardData")
        .then((response) => response.json())
        .then((data) => {
            loadCharts(data);
        })
        .catch((error) => console.error("Error:", error));

    function loadCharts(data) {
        //User
        var ctxBar = document.getElementById("barChart").getContext("2d");
        var barChart = new Chart(ctxBar, {
            type: "bar",
            data: {
                labels: ["Coordinators", "Marketing Manager", "Students"],
                datasets: [
                    {
                        label: "TOTAL USER",
                        data: [data.totalDeptManagers, data.totalMarketingManagers, data.totalStudents],
                        backgroundColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",

                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",

                        ],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });

        //faculty, post, comment
        var ctxBar1 = document.getElementById("barChart1").getContext("2d");
        var barChart1 = new Chart(ctxBar1, {
            type: "line",
            data: {
                labels: ["Faculty", "Posts", "Feedbacks"],
                datasets: [
                    {
                        label: "Analysis",
                        data: [
                            data.totalFaculties,
                            data.totalPosts,
                            data.totalComments,
                        ],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                        ],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });


        var ctxPie = document.getElementById("pieChart").getContext("2d");
        var pieChart = new Chart(ctxPie, {
            type: "pie",
            data: {
                labels: ["Faculty", "Posts", "Feedbacks", "Coordinators", "Marketing Manager", "Students"],
                datasets: [{
                    label: "Overview",
                    data: [
                        data.totalFaculties,
                        data.totalPosts,
                        data.totalComments,
                        data.totalDeptManagers,
                        data.totalMarketingManagers,
                        data.totalStudents
                    ],
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.5)",
                        "rgba(54, 162, 235, 0.5)",
                        "rgba(255, 206, 86, 0.5)",
                        "rgba(75, 192, 192, 0.5)",
                        "rgba(153, 102, 255, 0.5)",
                        "rgba(255, 159, 64, 0.5)"
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(255, 159, 64, 1)"
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        display: false
                    },
                    x: {
                        display: false
                    }
                }
            }
        });
    }

</script>
</body>
</html>
