<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marketing Manager</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }
        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
        .nav{
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;

        }

    </style>
</head>
<body>


<div class="topnav">
    <div class="logo"><img  src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></div>

    <div class="nav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Dashboard</a>
        <a href="#news">Manage Student</a>
        <a href="#news">Manage Coordinator</a>
        <a href="#news">Manage Marketing</a>
        <a href="#news">Manage Faculty</a>
        <a href="#contact">Manage Session</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>

</div>


</body>
</html>
